@import './config/base.scss';

html {
    background-image: url('../assets/img/background-noize.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition: background 0.6s ease;

    @include viewport-tablet-min {
        padding: px-to-rem(36) 0 px-to-rem(20);
    }

    @include viewport-phone {
        padding: px-to-rem(20) 0 px-to-rem(20);
    }

    &._scrolled {
        background-color: var(--color-black);
    }

    //.header__container 
    &__container {
        position: relative;
        z-index: 998;
    }

    //.header__wrapper 
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: px-to-rem(20);
        border-bottom: 2px solid var(--color-white);
    }

    //.header__item 
    &__item {
        &:nth-child(1) {
            @include viewport-phone {
                display: none;
            }
        }

        &:nth-child(3) {
            @include viewport-phone {
                display: flex;
            }
        }
    }

    //.header__logo 
    &__logo {
        flex-shrink: 0;
    }
}

.menu__lang {
    display: flex;
    align-items: center;

    font-size: px-to-rem(18);
    line-height: 133%;
    text-transform: uppercase;
    color: var(--color-grey-100);

    li+li {
        position: relative;
        padding-left: px-to-rem(8);
        margin-left: px-to-rem(4);

        &::before {
            content: '|';
            position: absolute;
            top: 0;
            left: 0;
            color: var(--color-white);
        }
    }

    .lang-item {
        transition: color 0.3s ease;
        color: currentColor;

        @include non-mobile-device {
            @include hover-focus-visible {
                color: var(--color-white);
            }
        }

        &.lang-item-current {
            color: var(--color-white);

        }
    }

    &-mob {
        margin: 0 20px;
        @include viewport-tablet-min {
            display: none;
        }
    }
}

.menu-burger {
    @include reset-button;
    position: relative;
    height: px-to-rem(23);
    color: var(--color-white);

    @include viewport-tablet-min {
        width: px-to-rem(52);
    }

    @include viewport-phone {
        width: px-to-rem(32);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;

        transform-origin: center;
        transition: transform 0.6s ease, background 0.3s ease;

        @at-root .menu-burger:hover::before {
            @include non-mobile-device {
                background-color: var(--color-highlight);
            }
        }

        @at-root .menu-burger:hover::after {
            @include non-mobile-device {
                background-color: var(--color-highlight);
            }
        }

        @at-root .menu-burger:focus-visible::before {
            background-color: var(--color-highlight);
        }

        @at-root .menu-burger:focus-visible::after {
            background-color: var(--color-highlight);
        }
    }

    &::before {
        transform: translate(0, calc(-50% - 3px));

        @at-root .menu-burger._opened::before {
            transform: translate(0, -50%) rotate(45deg) scale(0.6);
        }
    }

    &::after {
        transform: translate(0, calc(-50% + 3px));

        @at-root .menu-burger._opened::after {
            transform: translate(0, -50%) rotate(-45deg) scale(0.6);
        }
    }
}

.menu {

    //.menu__list 
    &__list {}

    //.menu__counter 
    &__counter {}

    //.menu__item 
    &__item {}
}

.popup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-black);
    background-image: url('../assets/img/background-noize.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto;

    overflow: hidden;
    //transition: background 0.3s ease;
    color: var(--color-white);

    @include viewport-tablet-min {
        padding: px-to-rem(42) var(--wrap);
    }

    @include viewport-phone {
        padding: px-to-rem(20) var(--wrap);
    }

    &._opened {
        //background-color: var(--color-black);
    }

    &.popup-menu {
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            background-image: url('../assets/img/backgorund-popup.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;

            @include viewport-desktop {
                height: 68%;

                @media (min-width: 1440px) {
                    height: 100%;
                }
            }

            @include viewport-tablet {
                height: 100%;
            }

            @include viewport-phone {
                display: none;
            }
        }
    }

    //.popup__scroll 
    &__scroll {
        position: relative;
        z-index: 0;
        width: 100%;
        height: auto;
        max-height: 100%;

        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        @at-root .popup.popup-menu & {
            height: 100%;
        }
    }

    //.popup__wrapper 
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >*+* {
            margin-top: px-to-rem(40);
        }
    }

    //.popup__header 
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    //.popup__logo 
    &__logo {}

    //.popup__close 
    &__close {
        @include reset-button;
        display: flex;
        justify-content: center;
        align-items: center;
        width: px-to-rem(18);
        height: px-to-rem(18);

        @include non-mobile-device {
            @include hover-focus-visible {

                img,
                svg {
                    transform: rotate(90deg);
                }
            }
        }

        img,
        svg {
            width: 100%;
            height: auto;
            transform-origin: center;
            transition: transform 0.4s ease;
            pointer-events: none;
        }
    }

    //.popup__content 
    &__content {

        @include viewport-phone {
            height: 100%;
            display: flex;
            align-items: flex-end;
        }

        //.popup__content .menu
        .menu {
            width: 100%;

            // .menu__list
            &__list {
                padding-left: px-to-rem(68);

                @include viewport-phone {
                    padding-left: px-to-rem(0);
                }

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    @include viewport-phone {
                        flex-direction: row-reverse;
                        align-items: flex-end;
                        justify-content: space-between;
                    }

                    span {
                        @include viewport-phone {
                            display: none;
                        }
                    }
                }

                >*+* {
                    margin-top: px-to-rem(44);

                    @include viewport-phone {
                        margin-top: px-to-rem(32);
                    }
                }

            }

            // .menu__counter
            &__counter {
                font-size: px-to-rem(18);
                line-height: px-to-rem(38);
            }

            // .menu__item
            &__item {
                padding-left: px-to-rem(8);
                font-size: px-to-rem(96);
                line-height: 100%;
                color: var(--color-white);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--color-highlight);
                }

                @include viewport-phone {
                    font-size: px-to-rem(48);
                    padding-left: 0;
                }
            }
        }
    }

    // .popup__footer
    &__footer {
        @include viewport-phone {
            margin-top: px-to-rem(65);
        }
    }


    // POPUP EVENT
    // .popup-event
    &-event {
        z-index: 997;

        //padding-bottom: px-to-rem(132);
        .popup__scroll {
            margin-top: px-to-rem(104);
        }

        // .popup__wrapper
        .popup__wrapper {
            border: 1px solid var(--color-grey-300);
            padding: px-to-rem(34) px-to-rem(24);
            height: max-content;

            @include viewport-phone {
                padding: px-to-rem(16) px-to-rem(8);
            }
        }

        // .popup__header
        .popup__header {

            @include viewport-phone {
                padding-bottom: 24px;
                border-bottom: 1px solid var(--color-grey-300);
            }

            // .popup__header .info
            .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;

                @include viewport-phone {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    *+* {
                        margin-top: px-to-rem(28);
                    }
                }

                // .info__date
                &__date {
                    flex-shrink: 0;
                    font-size: px-to-rem(24);
                    max-width: px-to-rem(200);
                    line-height: 108%;
                    font-weight: 500;

                    @include viewport-phone {
                        font-weight: 400;
                        max-width: px-to-rem(120);
                    }
                }

                // .info-artist
                &-artist {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include viewport-phone {
                        align-items: flex-start;
                    }

                    // .info-artist__name
                    &__name {
                        line-height: 100%;
                        font-weight: 500;
                        
                        @include viewport-tablet-min {
                            font-size: px-to-rem(48);
                            text-align: center;
                        }
                        @include viewport-phone {
                            font-size: px-to-rem(28);
                        }
                    }

                    // .info-artist__location
                    &__location {
                        font-size: px-to-rem(32);
                        margin-top: px-to-rem(22);

                        @include viewport-tablet-min {
                            text-align: center;
                        }

                        @include viewport-phone {
                            font-size: px-to-rem(20);
                        }
                    }
                }

                // .info__notification
                &__notification {
                    flex-shrink: 0;
                    font-family: $font-family-montserrat;
                    font-size: px-to-rem(18);
                    font-weight: 600;
                    line-height: 100%;
                    text-transform: uppercase;
                    position: relative;
                    color: var(--color-white);
                    transition: 0.3s ease;

                    @include viewport-tablet-min {
                        min-width: px-to-rem(155);
                        text-align: right;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        width: px-to-rem(12);
                        height: px-to-rem(12);
                        -moz-border-radius: 7.5px;
                        -webkit-border-radius: 7.5px;
                        border-radius: 7.5px;
                        background-color: var(--color-white);
                        margin-right: px-to-rem(8);
                        transition: 0.3s ease;
                    }

                    &:hover {
                        color: var(--color-highlight);

                        &::before {
                            background-color: var(--color-highlight);
                        }
                    }
                }
            }

            .popup__close {
                position: absolute;
                width: fit-content;
                right: 0;
                top: 0;
                height: auto;
                cursor: pointer;

                span {
                    font-family: $font-family-montserrat;
                    font-size: px-to-rem(18);
                    font-weight: 600;
                    color: var(--color-white);
                    text-transform: uppercase;
                    margin-right: px-to-rem(8);

                    @include viewport-phone {
                        display: none;
                    }
                }

                img {
                    width: px-to-rem(36);
                }
            }
        }

        // .popup__content
        .popup__content {
            margin-top: px-to-rem(46);

            @include viewport-phone {
                margin-top: px-to-rem(26);
            }

            // .popup__content .info
            .info {

                > * + * {
                    margin-top: px-to-rem(36);
                }

                // .info__col 
                &__col {
                    display: flex;
                    line-height: 138%;

                    @include viewport-tablet-min {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        font-size: px-to-rem(21);
                    }

                    @include viewport-phone {
                        flex-direction: column;
                        font-size: px-to-rem(16);
                        font-weight: 300;
                    }

                    &.reverse {
                        @include viewport-tablet-min {
                            flex-direction: row-reverse;
                        }
                    }

                    i {
                        font-style: italic;
                    }
                }

                //info__socials 
                &__socials {
                    margin-top: px-to-rem(12);
                }

                // .first-col
                .first-col {

                    // .first-col__image
                    &__image {
                        position: relative;
                        width: 63%;
                        
                        // &__container {
                        //     padding-top: 64%;

                        //     @include viewport-phone {
                        //         padding-top: 64%;
                        //     }
                        // }

                        @include viewport-phone {
                            width: 100%;
                        }

                        img {
                            width: 100%;
                            height: auto;

                            // position: absolute;
                            // top: 0;
                            // left: 0;
                            // width: 100%;
                            // height: 100%;
                            // -o-object-fit: cover;
                            // object-fit: cover;
                        }
                    }

                    // .first-col__text
                    &__text {
                        width: 34%;

                        @include viewport-phone {
                            width: 100%;
                            margin-top: px-to-rem(32);
                        }

                        > * + * {
                            margin-top: px-to-rem(24);
                        }
                    }

                }

                // .second-col
                .second-col {
                    display: block;

                    // .second-col__text
                    &__text {
                        // font-size: px-to-rem(32);
                        // line-height: 118%;
                        // max-width: px-to-rem(720);

                        > * + * {
                            margin-top: px-to-rem(20);
                        }
                    }
                }

                // .third-col
                .third-col {

                    > * + * {
                        @include viewport-phone {
                            margin-top: px-to-rem(36);
                        }

                    }

                    // .third-col__item
                    &__item {
                        @include viewport-phone {
                            width: 100%;
                        }
                        
                        // .third-col__item.first-item
                        &.first-item {
                            @include viewport-tablet-min {
                                width: 34%;
                            }
                        }
                        
                        // .third-col__item.second-item
                        &.second-item {
                            @include viewport-tablet-min {
                                width: 63%;
                            }
                        }
                        
                        &:only-child {
                            @include viewport-tablet-min {
                                width: 63%;
                            }
                        }
                    }

                    // .third-col__image
                    &__image {
                        position: relative;
                        width: 100%;

                        // &__container {
                        //     padding-top: 66%;
                        // }

                        img {
                            width: 100%;
                            height: auto;
                            // position: absolute;
                            // top: 0;
                            // left: 0;
                            // width: 100%;
                            // height: 100%;
                            // -o-object-fit: cover;
                            // object-fit: cover;
                        }
                    }

                    // .third-col__text
                    &__text {
                        margin-top: px-to-rem(32);

                        @include viewport-phone {
                            width: 100%;
                        }

                        > * + * {
                            margin-top: px-to-rem(20);
                        }
                    }
                }
            }
        }
    }
}

.socials {
    display: grid;
    gap: px-to-rem(12);
    font-weight: 400;
    line-height: 144%;

    @include viewport-tablet-min {
        grid-template-columns: repeat(auto-fill, minmax(px-to-rem(107), 1fr));
        font-size: px-to-rem(18);
    }
    
    @include viewport-phone {
        grid-template-columns: repeat(auto-fill, minmax(px-to-rem(82), 1fr));
        font-size: px-to-rem(14);
    }

    //.socials__item 
    &__item {
        display: flex;
        align-items: center;
        transition: color 0.3s ease;
        color: var(--color-white);

        @include non-mobile-device {
            @include hover-focus-visible {
                color: var(--color-highlight);

                &::before {
                    background-color: var(--color-highlight);
                }
            }
        }

        &::before {
            content: '';
            border-radius: 50%;
            background-color: var(--color-white);
            transition: background 0.3s ease;

            @include viewport-tablet-min {
                width: px-to-rem(12);
                height: px-to-rem(12);
                margin-right: px-to-rem(8);
            }

            @include viewport-phone {
                width: px-to-rem(11);
                height: px-to-rem(11);
                margin-right: px-to-rem(2);
            }
        }
    }
}

//BANNER-------------------------------------------------------------
.banner {
    min-height: 70vh;
    min-height: calc(70 * var(--vh, 1vh) - var(--header-big));
    //margin-top: var(--header-big);
    margin-top: px-to-rem(105);

    overflow-y: visible;
    overflow-x: clip;

    //.banner__container 
    &__container {}

    //.banner__wrapper 
    &__wrapper {}

    //.banner__title__container 
    &__title__container {
        position: relative;
        z-index: 0;

        @include viewport-phone {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(57.746 * var(--vh, 1vh));
        }
    }

    //.banner-title 
    &-title {
        display: grid;

        text-align: center;
        text-transform: uppercase;
        font-family: $font-family-logo;
        font-weight: 800;
        letter-spacing: -0.02em;
        line-height: 80%;

        @include viewport-desktop {
            font-size: 21.595vw;
            gap: 0.13559em;

            @media (min-width: 1366px) {
                font-size: px-to-rem(295);
            }
        }

        @include viewport-tablet {
            font-size: 17.595vw;
            gap: 0.13559em;
        }

        @include viewport-phone {
            font-size: 20vw;
            gap: px-to-rem(10);

            @media (max-width: 550px) {
                font-size: px-to-rem(64);
            }
        }

        //.banner-title__word 
        &__word {
            display: flex;
            justify-content: center;

            span {
                position: relative;
                z-index: 1;

                &._back {
                    z-index: -1;

                    @include viewport-phone {
                        @media (max-width: 550px) {
                            z-index: 1;
                        }
                    }
                }
            }
        }

        //.banner-title__wave 
        &__wave {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            width: calc(100% + 2 * var(--wrap));
            transform: translate(-50%, -50%);

            @include viewport-phone {
                @media (max-width: 550px) {
                    transform: translate(-50%, -40%);
                }
            }

            img,
            svg {
                width: 100%;
                height: auto;

                &.desktop {
                    @include viewport-phone {
                        @media (max-width: 550px) {
                            display: none;
                        }
                    }
                }

                &.mobile {
                    display: none;

                    @include viewport-phone {
                        @media (max-width: 550px) {
                            display: block;
                        }
                    }
                }
            }
        }

    }

    //.banner-footer 
    &-footer {
        position: relative;
        z-index: 1;
        width: 100%;
        border-top: 1px solid var(--color-white);
        border-bottom: 1px solid var(--color-white);
        padding: px-to-rem(16) 0 px-to-rem(20);

        @include viewport-tablet-min {
            display: flex;
            justify-content: space-between;
            margin-top: px-to-rem(44);
        }

        @include viewport-phone {}

        //.banner-footer__item 
        &__item {
            +* {
                @include viewport-tablet-min {
                    margin-left: px-to-rem(40);
                }

                @include viewport-phone {
                    margin-top: 0.025em;
                }
            }
        }

        //.banner-footer__description 
        &__description {
            line-height: 105%;
            color: var(--color-white);

            @include viewport-tablet-min {
                font-size: px-to-rem(36);
            }

            @include viewport-phone {
                font-size: px-to-rem(24);
            }

            span {
                display: block;
            }
        }

        //.banner-footer__button 
        &__button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: color 0.3s ease;

            font-family: $font-family-sans;
            font-weight: 600;
            letter-spacing: 0.02em;
            line-height: 100%;
            text-transform: uppercase;

            @include viewport-tablet-min {
                border-radius: px-to-rem(24);
                padding: px-to-rem(16) px-to-rem(38);
                //background-color: var(--color-white);
                overflow: hidden;
                transform: translateZ(0);
                color: var(--color-black);
            }

            @include viewport-phone {
                margin-top: px-to-rem(30);
                color: var(--color-white);
            }

            @include non-mobile-device {
                @include hover-focus-visible {
                    @include viewport-tablet-min {
                        color: var(--color-white);

                        &::after {
                            transform: translate(0);
                        }
                    }

                    @include viewport-phone {
                        color: var(--color-highlight);

                        &::before {
                            background-color: var(--color-highlight);
                        }
                    }
                }
            }

            &::before,
            &::after {
                content: '';

                @include viewport-tablet-min {
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                }
            }

            &::before {
                background-color: var(--color-white);

                @include viewport-tablet-min {
                    z-index: 0;
                    transform: scale(0.99);
                }

                @include viewport-phone {
                    width: px-to-rem(12);
                    height: px-to-rem(12);
                    border-radius: 50%;
                    margin-right: px-to-rem(8);
                    transition: background 0.45s ease;
                }
            }

            &::after {
                z-index: 1;

                @include viewport-tablet-min {
                    background-color: var(--color-highlight);
                    transform: translate(0, 100%);
                    transition: transform 0.45s ease;
                }

                @include viewport-phone {
                    display: none;
                }
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    }
}

//ABOUT--------------------------------------------------------------
.about {
    @include viewport-desktop {
        padding-top: px-to-rem(70);
    }

    @include viewport-tablet {
        padding-top: px-to-rem(48);
    }

    @include viewport-phone {
        padding-top: px-to-rem(24);
    }

    //.about_wrapper 
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr;

        @include viewport-tablet-min {
            gap: px-to-rem(32);
        }

        @include viewport-phone {
            gap: px-to-rem(56);
        }
    }

    //.about__content 
    &__content {
        display: grid;
        width: 100%;

        @include viewport-desktop {
            grid-template-columns: px-to-rem(260) 1fr;
            gap: 11.968%;
        }

        @include viewport-tablet {
            grid-template-columns: px-to-rem(260) 1fr;
            gap: 4%;
        }

        @include viewport-phone {
            grid-template-columns: 1fr;
            gap: px-to-rem(50)
        }
    }

    //.about__video 
    &__video {}

    //.about__title__container 
    &__title__container {}

    //.about__title 
    &__title {
        @include text-heading-2;

        span {
            display: block;
        }
    }

    //.about__description 
    &__description {
        display: grid;

        @include viewport-tablet-min {
            gap: px-to-rem(32);
        }

        @include viewport-phone {
            gap: px-to-rem(10);
        }

        .large {
            font-weight: 400;
            line-height: 110%;

            @include viewport-desktop {
                font-size: px-to-rem(64);
                letter-spacing: -0.05em;
            }

            @include viewport-tablet {
                font-size: px-to-rem(50);
                letter-spacing: -0.05em;
            }

            @include viewport-phone {
                font-size: px-to-rem(36);
                letter-spacing: -0.01em;
            }
        }

        .medium {
            font-weight: 300;
            line-height: 128%;
            font-family: $font-family-sans;

            @include viewport-tablet-min {
                font-size: px-to-rem(22);
            }

            @include viewport-phone {
                font-size: px-to-rem(16);
            }
        }

    }
}

.video {
    position: relative;

    @include viewport-tablet-min {
        width: 100%;
    }

    @include viewport-phone {
        width: calc(100% + 2 * var(--wrap));
        margin-left: calc(-1 * var(--wrap));
    }

    //.video__container 
    &__container {
        @media (orientation: landscape) {
            padding-top: 56.062%;
        }

        @media (orientation: portrait) {
            padding-top: 161.25%;
        }
    }

    //.video__preview 
    &__preview {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    //.video__img 
    &__img {
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    //.video__btn 
    &__btn {
        @include reset-button;

        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: px-to-rem(136);
        height: px-to-rem(136);
        border-radius: 50%;
        background-color: var(--color-blue-100);
        transform: translate(-50%, -50%);

        font-family: $font-family-montserrat;
        font-size: px-to-rem(22);
        text-transform: uppercase;
        line-height: 100%;
        font-weight: 600;
        color: var(--color-grey-200);
    }

    //.video__content 
    &__content {
        position: absolute;
        inset: 0;
        z-index: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // .video__author
    &__author {
        position: absolute;
        width: 100%;
        top: 6%;
        left: 48%;
        font-family: $font-family-sans;
        font-weight: 300;
        line-height: 130%;
        color: var(--color-grey-200);
        transform: rotate(-90deg);
        opacity: 0.8;
        z-index: 10;

        @include viewport-tablet-min {
            font-size: px-to-rem(20);
        }
        @include viewport-phone {
            font-size: px-to-rem(16);

            @media (max-width: 768px) {
                top: 65%;
                left: 45%;
            }
        }
    }
}

//PROGRAM-------------------------------------------------------------
.program {
    @include viewport-tablet-min {
        margin-top: px-to-rem(42);
    }
    @include viewport-phone {
        margin-top: px-to-rem(32);
    }

    //.program__wrapper 
    &__wrapper {
        border-top: 1px solid var(--color-grey-300);
        
        @include viewport-tablet-min {
            padding-top: px-to-rem(24);
        }
        @include viewport-phone {
            padding-top: px-to-rem(10);
        }
        
        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(74);
            }
            @include viewport-phone {
                margin-top: px-to-rem(50);
            }
        }
    }
    
    //.program__header 
    &__header {
        display: grid;
        
        @include viewport-desktop {
            grid-template-columns: px-to-rem(378) 1fr;
            gap: px-to-rem(98);
        }
        @include viewport-tablet {
            grid-template-columns: px-to-rem(378) 1fr;
            gap: px-to-rem(40);
        }
        @include viewport-phone {
            grid-template-columns: 1fr;
            gap: px-to-rem(26);
        }
    }
    
    //.program__title 
    &__title {
        @include text-heading-2;
    }
    
    //.program__subtitle 
    &__subtitle {
        font-family: $font-family-sans;
        font-weight: 300;
        line-height: 130%;

        @include viewport-tablet-min {
            font-size: px-to-rem(22);
        }
        @include viewport-phone {
            font-size: px-to-rem(16);
        }
    }
    
    //.program__main 
    &__main {
        width: 100%;

        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(8);
            }
            @include viewport-phone {
                margin-top: px-to-rem(48);
            }
        }
    }
    
    //.program-list 
    &-list {
        width: 100%;

        //.program-list__header 
        &__header {
            @include viewport-tablet-min {
                display: none;
            }
            @include viewport-phone {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid var(--color-grey-300);
                margin-bottom: px-to-rem(20);
                padding-top: px-to-rem(10);
            }
        }
    }
    
    //.program-slider__pagination 
    &-slider__pagination {
        width: max-content;
        font-weight: 400;
        font-size: px-to-rem(32);
        line-height: 110%;
        color: var(--color-grey-300);

        .swiper-pagination-current {
            color: var(--color-white);
        }
    }
    
    //.program-slider 
    &-slider {
        @include viewport-phone {
            overflow: visible;
            // width: calc(100% + 2 * var(--wrap));
            // margin-left: calc(-1 * var(--wrap));
        }

        &.swiper {
            .swiper-wrapper {
                @include viewport-tablet-min {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: px-to-rem(10);
                }
            }
            .swiper-slide {
            }
        }
        
        //.program-slider__item 
        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid var(--color-grey-300);
            overflow: hidden;
            transition: border 0.6s ease;
            transform: translateZ(0);
            
            @include viewport-tablet-min {
                height: px-to-rem(438);
                padding: px-to-rem(24) px-to-rem(30);
            }
            @include viewport-phone {
                height: px-to-rem(372);
                padding: px-to-rem(16) px-to-rem(20);
            }

            @include non-mobile-hover {
                border-color: transparent;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-image: linear-gradient(222.19deg, var(--color-gradient-begin) 0%, var(--color-gradient-end) 100%);
                transition: opacity 0.6s ease;
                opacity: 0;

                @at-root .program-slider__item:hover::before {
                    @include non-mobile-device {
                        opacity: 1;
                    }
                }
            }

            > * {
                position: relative;
            }
        }
        
        //.program-slider__header 
        &__header {
            flex: 1 0 auto;

            > * + * {
                @include viewport-tablet-min {
                    margin-top: px-to-rem(42);
                }
                @include viewport-phone {
                    margin-top: px-to-rem(20);
                }
            }
        }
        
        //.program-slider__date 
        &__date {
            display: flex;

            &._desktop {
                width: 100%;
                justify-content: space-between;

                @include viewport-desktop {
                    font-size: px-to-rem(22);
                }
                @include viewport-tablet {
                    font-size: px-to-rem(22);
                }
                @include viewport-phone {
                    font-size: px-to-rem(18);
                }
                
                span {
                    @include viewport-phone {
                        &:first-child {
                            display: none;
                        }
                    }
                }
            }

            &._mobile {
                font-size: px-to-rem(32);
                line-height: 100%;
            }
        }
        
        //.program-slider__title__wrapper 
        &__title__wrapper {
            display: block;
            text-decoration: none;
            color: var(--color-white);

            @include non-mobile-device {
                @include hover-focus-visible {
                    //color: var(--color-highlight);
                }
            }
        }
        
        //.program-slider__title 
        &__title {
            @include text-heading-styles;
            pointer-events: none;
            transition: color 0.3s ease;
            line-height: 120%;
            font-weight: 500;
            color: currentColor;
            
            @include viewport-desktop {
                font-size: px-to-rem(18);
            }
            @include viewport-tablet-max {
                font-size: px-to-rem(16);
            }
        }
        
        //.program-slider__main 
        &__main {
            line-height: 110%;

            @include viewport-desktop {
                margin-top: px-to-rem(30);
                font-size: px-to-rem(16);
            }
            @include viewport-tablet {
                margin-top: px-to-rem(12);
                font-size: px-to-rem(14);
            }
            @include viewport-phone {
                margin-top: px-to-rem(10);
                font-size: px-to-rem(14);
            }
        }
        
        //.program-slider__footer 
        &__footer {
            display: flex;
            flex-direction: column;
            margin-top: px-to-rem(20);
            font-weight: 600;
            font-family: $font-family-sans;
            text-transform: uppercase;

            @include viewport-desktop {
                font-size: px-to-rem(14);
                letter-spacing: 0.02em;
            }
            @include viewport-tablet {
                //margin-top: px-to-rem(20);
                font-size: px-to-rem(14);
                letter-spacing: 0.02em;
            }
            @include viewport-phone {
                //margin-top: px-to-rem(36);
                font-size: px-to-rem(14);
            }

            > * + * {
                @include viewport-tablet-min {
                    margin-top: 0.025em;
                }
                @include viewport-phone {
                    margin-top: 0.025em;
                }
            }
        }
        
        //.program-slider__link 
        &__link {
            display: flex;
            align-items: center;
            transition: color 0.3s ease;
            color: var(--color-white);
    
            @include non-mobile-device {
                @include hover-focus-visible {
                    color: var(--color-highlight);
    
                    &::before {
                        background-color: var(--color-highlight);
                    }
                }
            }
    
            &::before {
                content: '';
                border-radius: 50%;
                background-color: var(--color-white);
                transition: background 0.3s ease;
    
                @include viewport-tablet-min {
                    width: px-to-rem(12);
                    height: px-to-rem(12);
                    margin-right: px-to-rem(8);
                }
    
                @include viewport-phone {
                    width: px-to-rem(8);
                    height: px-to-rem(8);
                    margin-right: px-to-rem(6);
                }
            }
        }
    }
}
._link {
}


// HOW --------------------------------------

.how {
    @include viewport-tablet-min {
        margin-top: px-to-rem(74);
    }
    @include viewport-phone {
        margin-top: px-to-rem(60);
    }

    // .how__wrapper
    &__wrapper {
        padding-top: px-to-rem(24);
        border-top: 1px solid var(--color-grey-300);
    }

    // .how__header
    .how__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @include viewport-phone {
            flex-direction: column;
        }
    }

    // .how__title
    .how__title {
        max-width: px-to-rem(356);
        font-size: px-to-rem(48);
        line-height: 108%;
        margin-right: px-to-rem(120);

        @include viewport-phone {
            font-size: px-to-rem(32);
            max-width: px-to-rem(236);
            margin-right: px-to-rem(0);

        }
    }

    // .how__text
    .how__text {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: px-to-rem(800);

        font-family: $font-family-sans;
        font-size: px-to-rem(21);
        font-weight: 300;
        line-height: 128%;

        @include viewport-phone {
            margin-top: px-to-rem(32);
            font-family: $font-family;
            font-size: px-to-rem(16);
        }
    }



    // .how-slider
    &-slider {
        overflow: visible;
        margin-top: px-to-rem(50);
        margin-left: 0;
        width: 74%;

        @include viewport-phone {
            margin-top: px-to-rem(32);
            width: 94%;
        }

        &.swiper {
            .swiper-wrapper {}

            .swiper-slide {
                margin-right: px-to-rem(10) !important;
            }
        }

        //.how-slider__item 
        &__item {
            display: flex;
            flex-direction: column;
            transition: color 0.3s ease;
            color: var(--color-black);
        }

        //.how-slider__img 
        &__img {
            position: relative;
            display: block;
            width: 100%;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
            padding-top: 56%;

            @include viewport-phone {
                padding-top: 90%;
            }


            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }
        }
    }

    &__buttons__slider__container {
        position: absolute;
        top: 50%;
        right: 92px;
        z-index: 10;

        @include viewport-phone {
            display: none;
        }

        button {
            @include reset-button
        }
    }
}

// FOOTER -------------------------------

.footer {
    background: linear-gradient(222.19deg, var(--color-gradient-begin) 0%, var(--color-gradient-end) 100%);

    @include viewport-tablet-min {
        margin-top: px-to-rem(94);
    }
    @include viewport-phone {
        margin-top: px-to-rem(52);
    }

    // .footer__wrapper
    &__wrapper {
        padding: px-to-rem(60) 0;
    }

    // .footer-contacts 
    &-contacts {
        padding-bottom: px-to-rem(42);
        border-bottom: 1px solid var(--color-white);

        @include viewport-phone {
            padding-bottom: px-to-rem(50);
        }

        &__title {
            font-size: px-to-rem(24);
            font-weight: 600;
            line-height: 108%;
        }

        //.footer-contacts__main 
        &__main {
            margin-top: px-to-rem(40);
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(px-to-rem(270), 1fr));
            
            @include viewport-desktop {
                gap: px-to-rem(50) px-to-rem(110);
            }
            @include viewport-tablet-max {
                gap: px-to-rem(50) px-to-rem(60);
            }
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;

            // @include viewport-phone {
            //     flex-direction: column;
            // }

            // >*+* {
            //     margin-left: px-to-rem(120);

            //     @include viewport-phone {
            //         margin-left: 0;
            //         margin-top: px-to-rem(28);
            //     }
            // }
        }

        &__item {
            max-width: px-to-rem(364);
            
        }

        &__subtitle {
            font-size: px-to-rem(24);
            font-weight: 600;
            line-height: 129%;

            @include viewport-phone {
                font-weight: 400;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            margin-top: px-to-rem(26);
            font-family: $font-family-sans;
            font-size: px-to-rem(18);
            font-weight: 300;
            line-height: 133%;

            @include viewport-phone {
                margin-top: px-to-rem(16);
            }

            a {
                color: var(--color-white);
                transition: 0.3s ease;

                &:hover {
                    color: var(--color-highlight);
                }
            }
        }
    }

    &__buy {
        padding-top: px-to-rem(60);

        @include viewport-phone {
            padding-top: px-to-rem(46);
            border-bottom: 1px solid var(--color-white);
            max-width: px-to-rem(290);
        }

        a {
            font-size: px-to-rem(180);
            line-height: 105%;
            color: var(--color-white);
            transition: 0.3s ease;

            @include viewport-phone {
                font-size: px-to-rem(84);
            }

            &:hover {
                color: var(--color-highlight);
            }
        }
    }

    &__socials {
        margin-top: px-to-rem(82);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include viewport-phone {
            flex-direction: column;
            margin-top: px-to-rem(50);
        }

        &__list {
            max-width: 350px;
        }

        .socials {

        }

        .developer {
            @include viewport-phone {
                margin-top: px-to-rem(18);
            }

            a {
                color: var(--color-white);
                transition: 0.3s ease;

                &:hover {
                    color: var(--color-highlight);

                    path {
                        fill: var(--color-highlight);
                    }
                }

                path {
                    transition: 0.3s ease;
                }
            }
        }
    }
}

.partners {
    &__wrapper {
        padding-top: px-to-rem(112);

    }

    &__list {
        display: grid;
        margin-top: 50px;

        @include viewport-desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        @include viewport-tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include viewport-phone {
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 550px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding-top: 100%;
        width: 100%;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 88%;
            height: 1px;
            background: var(--color-grey-300);
        }

        &.item-empty {
            height: px-to-rem(1);
            padding-top: 0;

            &:before {
                content: none!important;
            }
        }

        @include viewport-tablet-min {
            &.item-1:before,
            &.item-2:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 62%;
                width: 76%;
                height: 1px;
                background: var(--color-grey-300);
                transform: rotate(90deg);
            }

            &.item-2:after {
                left: 12%;
                width: 76%;
            }

            &.item-3:after {
                left: unset;
                right: 0;
            }
        }

        @include viewport-phone {

            &:nth-child(2n):after {
                left: unset;
                right: 0;
            }

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 62%;
                width: 76%;
                height: 1px;
                background: var(--color-grey-300);
                transform: rotate(90deg);
            }

            &:nth-child(2n):before {
                content: none;
            }

            &.item-desc {
                display: none;
            }
        }

        
        &.item-mob {
            @include viewport-tablet-min {
                display: none;
            }
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            @include viewport-phone {
                width: 50%;
            }
        }
    }

    &__label {
        position: absolute;
        top: 25px;
        left: 25px;

        font-size: px-to-rem(24);

        @include viewport-phone {
            font-size: px-to-rem(14);
        top: 11px;
        left: 0;
        }
    }
}