:root {
  --color-black--rgb: 0, 0, 0;
  --color-black: #000000;
  --color-white--rgb: 255, 255, 255;
  --color-white: #FFFFFF;
  --color-blue-100--rgb: 28, 100, 205;
  --color-blue-100: #1C64CD;
  --color-grey-100--rgb: 103, 116, 142;
  --color-grey-100: #67748E;
  --color-highlight--rgb: 186, 44, 146;
  --color-highlight: #BA2C92;
  --color-error--rgb: 255, 0, 0;
  --color-error: #FF0000;
  --color-gradient-begin--rgb: 28, 100, 205;
  --color-gradient-begin: #1C64CD;
  --color-gradient-end--rgb: 255, 0, 0;
  --color-gradient-end: #FF0000;
}

html {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media (min-width: 1200px) {
  :root {
    --wrap: 3.513vw;
  }
}
@media (min-width: 1200px) and (min-width: 1366px) {
  :root {
    --wrap: calc((100vw - 1270px) / 2);
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  :root {
    --wrap: 3.513vw;
  }
}
@media (max-width: 899px) {
  :root {
    --wrap: 5vw;
  }
}

:root {
  --color-black--rgb: 0, 0, 0;
  --color-black: #000000;
  --color-white--rgb: 255, 255, 255;
  --color-white: #FFFFFF;
  --color-blue-100--rgb: 28, 100, 205;
  --color-blue-100: #1C64CD;
  --color-grey-100--rgb: 103, 116, 142;
  --color-grey-100: #67748E;
  --color-highlight--rgb: 186, 44, 146;
  --color-highlight: #BA2C92;
  --color-error--rgb: 255, 0, 0;
  --color-error: #FF0000;
  --color-gradient-begin--rgb: 28, 100, 205;
  --color-gradient-begin: #1C64CD;
  --color-gradient-end--rgb: 255, 0, 0;
  --color-gradient-end: #FF0000;
}

html {
  background-color: var(--color-black);
  color: var(--color-white);
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
@media (max-width: 899px) {
  * {
    outline: none;
  }
}

body,
input,
textarea,
button,
select {
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  height: unset !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}
html._lock,
body._lock {
  overflow: hidden;
}

._container {
  width: 100%;
  padding: 0 var(--wrap);
  margin: 0;
}

.logo-link {
  display: block;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 900px) {
  .logo-link {
    max-width: 21.625rem;
  }
}
@media (max-width: 899px) {
  .logo-link {
    max-width: 14.25rem;
  }
}
.logo-link img,
.logo-link svg {
  width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  ._margin-top {
    margin-top: 6.25rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  ._margin-top {
    margin-top: 5rem;
  }
}
@media (max-width: 899px) {
  ._margin-top {
    margin-top: 3.75rem;
  }
}

._inner {
  padding-top: 1.875rem;
}

html {
  background-image: url("../assets/img/background-noize.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
}
@media (min-width: 900px) {
  .header {
    padding: 2.25rem 0 1.25rem;
  }
}
@media (max-width: 899px) {
  .header {
    padding: 1.25rem 0 1.25rem;
  }
}
.header._scrolled {
  background-color: var(--color-black);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid var(--color-white);
}
@media (max-width: 899px) {
  .header__item:nth-child(1) {
    display: none;
  }
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  line-height: 133%;
  text-transform: uppercase;
  color: var(--color-grey-100);
}
.menu__lang li + li {
  position: relative;
  padding-left: 0.5rem;
  margin-left: 0.25rem;
}
.menu__lang li + li::before {
  content: "|";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
}
.menu__lang .lang-item {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: currentColor;
}
html:not(.v-mobile) .menu__lang .lang-item:hover {
  color: var(--color-white);
}
html:not(.v-mobile) .menu__lang .lang-item:focus-visible {
  color: var(--color-white);
}

.menu__lang .lang-item.lang-item-current {
  color: var(--color-white);
}

.menu-burger {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
  height: 1.4375rem;
  color: var(--color-white);
}
@media (min-width: 900px) {
  .menu-burger {
    width: 3.25rem;
  }
}
@media (max-width: 899px) {
  .menu-burger {
    width: 2rem;
  }
}
.menu-burger::before, .menu-burger::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: background 0.3s ease, -webkit-transform 0.6s ease;
  transition: background 0.3s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, background 0.3s ease;
  transition: transform 0.6s ease, background 0.3s ease, -webkit-transform 0.6s ease;
}
html:not(.v-mobile) .menu-burger:hover::before {
  background-color: var(--color-highlight);
}

html:not(.v-mobile) .menu-burger:hover::after {
  background-color: var(--color-highlight);
}

.menu-burger:focus-visible::before {
  background-color: var(--color-highlight);
}

.menu-burger:focus-visible::after {
  background-color: var(--color-highlight);
}

.menu-burger::before {
  -webkit-transform: translate(0, calc(-50% - 3px));
          transform: translate(0, calc(-50% - 3px));
}
.menu-burger._opened::before {
  -webkit-transform: translate(0, -50%) rotate(45deg) scale(0.6);
          transform: translate(0, -50%) rotate(45deg) scale(0.6);
}

.menu-burger::after {
  -webkit-transform: translate(0, calc(-50% + 3px));
          transform: translate(0, calc(-50% + 3px));
}
.menu-burger._opened::after {
  -webkit-transform: translate(0, -50%) rotate(-45deg) scale(0.6);
          transform: translate(0, -50%) rotate(-45deg) scale(0.6);
}

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  background-image: url("../assets/img/background-noize.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
  overflow: hidden;
  color: var(--color-white);
}
@media (min-width: 900px) {
  .popup {
    padding: 2.625rem var(--wrap);
  }
}
@media (max-width: 899px) {
  .popup {
    padding: 1.25rem var(--wrap);
  }
}
.popup.popup-menu::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../assets/img/backgorund-popup.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
@media (min-width: 1200px) {
  .popup.popup-menu::before {
    height: 68%;
  }
}
@media (min-width: 1200px) and (min-width: 1440px) {
  .popup.popup-menu::before {
    height: 100%;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .popup.popup-menu::before {
    height: 100%;
  }
}
@media (max-width: 899px) {
  .popup.popup-menu::before {
    display: none;
  }
}
.popup__scroll {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.popup__scroll::-webkit-scrollbar {
  display: none;
}
.popup.popup-menu .popup__scroll {
  height: 100%;
}

.popup__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__wrapper > * + * {
  margin-top: 2.5rem;
}
.popup__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__close {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.125rem;
  height: 1.125rem;
}
html:not(.v-mobile) .popup__close:hover img,
html:not(.v-mobile) .popup__close:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
html:not(.v-mobile) .popup__close:focus-visible img,
html:not(.v-mobile) .popup__close:focus-visible svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.popup__close img,
.popup__close svg {
  width: 100%;
  height: auto;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  pointer-events: none;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  line-height: 144%;
}
@media (min-width: 900px) {
  .socials {
    font-size: 1.125rem;
  }
}
@media (max-width: 899px) {
  .socials {
    font-size: 0.875rem;
  }
}
.socials > * + * {
  margin-left: 0.75rem;
}
.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: var(--color-white);
}
html:not(.v-mobile) .socials__item:hover {
  color: var(--color-highlight);
}
html:not(.v-mobile) .socials__item:hover::before {
  background-color: var(--color-highlight);
}
html:not(.v-mobile) .socials__item:focus-visible {
  color: var(--color-highlight);
}
html:not(.v-mobile) .socials__item:focus-visible::before {
  background-color: var(--color-highlight);
}

.socials__item::before {
  content: "";
  border-radius: 50%;
  background-color: var(--color-white);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
@media (min-width: 900px) {
  .socials__item::before {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 899px) {
  .socials__item::before {
    width: 0.6875rem;
    height: 0.6875rem;
    margin-right: 0.125rem;
  }
}